<h1>Keywords Set: <%= @keyword_set.name %></h1>

<% if @keyword_set.working? %>
  <p>現在、集計中のため少々お待ち下さい。</p>
<% else %>
  <div class="panel panel-default">
    <div class="panel-heading">集計結果</div>
    <div class="panel-body">
      <%# TODO: show summary %>
      <%= @summary %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">詳細</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @keyword_set.keywords.each do |k| %>
        <li><%= k.name %></li>
        <ul>
          <% k.results.each_with_index do |r, i| %>
            <li><%= i+1 %>:<%= link_to r.title, r.url %></li>
          <% end %>
        </ul>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= link_to '戻る', keyword_sets_path, class: 'btn btn-default' %>
