<h1>新しくキーワードを分析</h1>

<% if @keyword_set.errors.any? %>
<div class="alert alert-danger" role="alert">
  <p><%= @keyword_set.errors.count %>件の入力エラーがあります。</p>

  <ul>
  <% @keyword_set.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_for @keyword_set, html: { class: 'form-horizontal'} do |f| %>
  <div class="form-group">
    <%= f.label :name, '名前', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <label for="keywords" class="col-sm-2 control-label">キーワード</label>
    <div class="col-sm-10">
      <%= text_area_tag 'keywords', '', rows: 10, class: 'form-control' %>
      ※改行で区切ってください
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit '分析する', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
